*.DS_Store
*.log
*.zip
.idea
.sass-cache/
/nbproject/
/nbproject/private/
/node_modules/
ad.js
TODO
test.html
/bootstrap/
/build/
/component/
/css/
/dist/
/documentation/
/js/
/modul/
/pages/
/plugins/
.jshintrc
bower.json
changelog.md 
composer.json 
ex.php 
Gruntfile.js 
LICENSE
package.json 
README.md